* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nerko One', cursive;
    font-family: 'Poppins', sans-serif;
}

.App {
    background-color: rgb(14, 10, 13);


}

img {
    display: block;
    width: 100%;
}

.img {


    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d6/Rick_and_Morty_title_card_%28cropped%29.png");

    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;
    width: 100%;
    height: 20vh;
}

.header__title {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 0.8rem;
    font-size: 35px;
    color: rgba(89, 98, 105, 0);
}

ul {
    list-style: none;
}

li,
span,
h2,
h1,
h3,
p {
    color: rgb(255, 255, 255);
}

.info__name {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: aliceblue;
}

.info__descriptions {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 1rem;
    font-size: 20px;
}

.header__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__input {
    padding: 0.5rem;
    width: 280px;
    border-radius: 10px;
}

.header__button {
    display: block;
    background-color: black;
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    border: 1px solid #fff;
}

@media (min-width: 700px) {
    .header__button {
        padding: 0.9rem;
        width: 100px;
    }

    .header__input {
        padding: 0.9rem;
        width: 400px;
    }
}

/*mover mi css*/
.card {
    width: 100%;
    max-width: 300px;
    border-radius: 14px;
    overflow: hidden;
}

.card__header {

    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.card__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__circle-container {
    position: absolute;
    top: 10%;
    width: 33%;
    background-color: rgb(12, 11, 11);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;

}

.card__circle {
    width: 12px;
    aspect-ratio: 1;
    background-color: rgb(173, 173, 173);
    border-radius: 50%;
}

.Alive {
    background-color: green;
}

.Dead {
    background-color: red;
}

.card__body {
    padding: 15px;
    background: rgb(10, 4, 7);
    color: white;
    font-weight: 700;

}

.card__name {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 0.6rem;
    height: 1.6rem;
}

.card__item {
    display: grid;
    gap: 0.5em;

}

.card__item-label {
    display: block;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.61);
    position: relative;
    left: 0.6em;

}